*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
      background-color: #1C1A5E;
      font-family: "Poppins", sans-serif;
    }

    h1 {
      text-align: center;
      color: #1C1A5E;
      color: white;
      font-weight: 800;
      font-size: 2.9rem;
      margin: 60px auto;
    }

    .box-main {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 30px;
      justify-items: center;
      width: 90%;
      max-width: 1000px;
      margin: auto;
    }

    .category-box {
      width: 100%;
      height: 200px;
      background-color: #fff;
      border-radius: 20px;
      /* box-shadow: 0px 6px 12px rgba(2, 64, 251, 0.319); */
      box-shadow: 0px 0px 20px #1a1919;
      text-align: center;
      padding: 30px 20px;
      border: 2px solid transparent;
      transition: all 0.3s ease;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: 2px solid #dcdbdb;
    }

    .category-box:hover {
      /* border-color: #1C1A5E; */
      transform: translateY(-15px);
    }

    .category-box img {
      width: 70px;
      height: 70px;
      object-fit: contain;
      margin-bottom: 12px;
    }

    .category-box h4 {
      color: #1C1A5E;
      font-weight: 700;
      font-size: 1.1rem;
      margin: 0;
    }
    a{
      text-decoration: none;
    }

    @media (max-width: 576px) {
      h1 {
        font-size: 2rem;
      }

      .box-main {
        gap: 20px;
      }

      .category-box {
        height: 180px;
        padding: 20px 10px;
      }

      .category-box img {
        width: 55px;
        height: 55px;
      
      }
    }





